.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    border-top: 5px solid rgb(171,1,1);
    padding: 10px;
    margin: 10px;
  }

  .drop-dep{
    float: right;
    margin-bottom: 10px;
}

#import-file {
  display: none;
}

#import-file-label {
  position: absolute;
  right: 48px;
}