<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div ngbDropdown>
                <button class="btn btn-info drop-dep" type="button" id="dropdownMenuButton6" ngbDropdownToggle>
                    Département: {{depSelected}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
                  <a class="dropdown-item" *ngFor="let dep of departments" (click)="changeDep(dep)">{{dep}}</a>
                </div>
            </div>
            <div class="table-responsive">
                <form class="forms-sample" #formulaire="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th *ngIf="role==='admin'">
                                cin
                            </th>
                            <th>
                                nom
                            </th>
                            <th>
                                prenom
                            </th>
                            <th>
                                email
                            </th>
                            <th *ngIf="role==='admin'">
                                telephone
                            </th>
                            <th *ngIf="role==='admin'">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td *ngIf="role==='admin'"> <input type="text" class="form-control"  ngModel name="cin"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="name"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="firstname"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="email"> </td> 
                        <td *ngIf="role==='admin'"> <input type="text" class="form-control"  ngModel name="telephone"> </td> 
                        <td>  
                          <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(formulaire.value,1,10)"  >
                          <i class="fa fa-search"></i>                       
                         </button>
                         <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(formulaire)" >
                            <i class="fa fa-times"></i>    
                        </button>  
                      </td> 
                        <tr *ngFor="let teacher of teachers">
                            <td *ngIf="role==='admin'" class="py-1">
                                {{teacher?.cin}}
                            </td>
                            <td>
                                {{teacher?.name}}
                            </td>
                            <td>
                                {{teacher?.firstname}}
                            </td>
                            <td>
                                {{teacher?.email}}
                            </td>
                            <td *ngIf="role==='admin'">
                                {{teacher?.telephone}}
                            </td>

                            <td *ngIf="role==='admin'">
                                <button type="button" class="btn btn-inverse-danger btn-icon"  [routerLink]="['profil',teacher.id]">
                                    <i class="mdi mdi-account"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-info btn-icon" (click)="openModalDeleteTeacher(modalConfirmDelete,teacher)">
                                    <i class="mdi mdi-delete"></i>
                                  </button>
                                  <button  type="button" class="btn btn-inverse-dark btn-icon" (click)="openModalUpdateTeacher(modalUpdateTeacherContent,teacher)">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button *ngIf="role==='admin'" type="button" class="btn btn-outline-info btn-add btn-icon-text" (click)="openModalAddTeacher(modalAddTeacherContent)">
                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                Ajouter un enseignant
            </button>
            <label *ngIf="role==='admin'" for="import-file" id="import-file-label" class="btn btn-outline-success btn-excel btn-icon-text">
                <i class="mdi mdi-upload btn-icon-prepend"></i>
                Importer un excel
              </label>
              <input id="import-file" type="file" (change)="uploadFile()" ng2FileSelect [uploader]="uploader" class="btn btn-outline-success btn-excel btn-icon-text">
        </div>
    </div>
</div>

<ng-template class="modal fade" #modalAddTeacherContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Ajout d'un nouvel enseignant</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="text" class="form-control" id="mom" ngModel name="username" placeholder="Nom">
          </div>
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" id="mom" ngModel name="name" placeholder="Nom">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Prenom</label>
              <input type="email" class="form-control" id="prenom" ngModel name="firstname" placeholder="Prenom">
            </div>
            <div class="form-group">
              <label for="tel">Telephone</label>
              <input type="text" class="form-control" id="tel"  ngModel name ="telephone" placeholder="Tel">
            </div>
            <div class="form-group">
              <label for="tel">Passport</label>
              <input type="text" class="form-control" id="tel"  ngModel name ="passeport" placeholder="passport">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email"  ngModel name ="email" placeholder="email">
            </div>
            <div class="form-group">
              <label for="cin">CIN</label>
              <input type="text" class="form-control" id="cin"  ngModel name ="cin" placeholder="cin">
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addTeacher(formulaire.value,modalSuccessAdd)"> Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>

  <ng-template #modalConfirmDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Confirmation</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment supprimer l'enseignant {{selectedTeacher.firstname}} {{selectedTeacher.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteTeacher(selectedTeacher['id'], modalSuccessDelete)">Confirmer</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
      </div>
    </div>
  </ng-template>
  <ng-template class="modal fade" #modalUpdateTeacherContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Modification d'un enseignant</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="mom" name="username" [(ngModel)]="selectedTeacher.username" >
            </div>
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" id="exampleInputUsername1" name="name" [(ngModel)]="selectedTeacher.name" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Prenom</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="firstname" [(ngModel)]="selectedTeacher.firstname" >
            </div>
            <div class="form-group">
                <label for="tel">Telephone</label>
                <input type="text" class="form-control" id="tel" name ="telephone" [(ngModel)]="selectedTeacher.telephone" >
              </div>
            <div class="form-group">
                <label for="passport">Passport</label>
                <input type="text" class="form-control" id="passport"   name ="passeport" [(ngModel)]="selectedTeacher.passeport" >
              </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"  name ="email"  [(ngModel)]="selectedTeacher.email" >
              </div>
            <div class="form-group">
                <label for="cin">CIN</label>
                <input type="text" class="form-control" id="cin" name ="cin" [(ngModel)]="selectedTeacher.cin" >
              </div>
            <button type="submit" class="btn btn-gradient-primary mr-2"  (click)="updateTeacher(selectedTeacher['id'],formulaire.value,modalSuccessUpdate)">Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSuccessDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>L'enseignant {{selectedTeacher.firstname}} {{selectedTeacher.name}} a été supprimé avec succes</p>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSuccessAdd let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>L'enseignant a été ajouté avec succes</p>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSuccessUpdate let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>L'enseignant a été mis à jour avec succes</p>
      </div>
    </div>
  </ng-template>

</div>
