<app-spinner *ngIf="isLoading"></app-spinner>
  <div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="row">
    <div class="col ">
        <div class="card"> 
            <div class="box">
                <h2><span>Informations soutenance </span></h2>
    
                <ul class="list-group list-group-flush ml-0 mb-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:version]">
                        <strong> année universitaire: </strong> {{soutenance?.session?.academicYear?.name}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:download_count]">
                        <strong> session: </strong> {{soutenance?.session?.nom}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                        <strong>president: </strong>{{soutenance?.president?.name}} {{soutenance?.president?.firstname}} 
                         <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', soutenance?.president?.id]">
                            <i class="mdi mdi-account"></i>
                          </button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_count]">
                        <strong>examinateur: </strong>{{soutenance?.reviewer?.name}} {{soutenance?.reviewer?.firstname}} 
                        <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', soutenance?.reviewer?.id]">
                           <i class="mdi mdi-account"></i>
                         </button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                        <strong> date:</strong> {{soutenance?.soutenanceStartTime.toString().substr(0,10)}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                        <strong> heure de début:</strong> {{soutenance?.soutenanceStartTime.toString().substr(11,5)}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:update_date]">
                          <strong> heure de fin:</strong> {{soutenance?.soutenanceEndTime.toString().substr(11,5)}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:update_date]">
                        <button type="button" class="btn  btn-inverse-danger btn-icon-text"(click)="downloadPdf(soutenance?.id,soutenance?.internship?.student?.name,soutenance?.student?.firstname)">
                            <i class="mdi mdi-file-check btn-icon-prepend"></i>
                            générer PDF
                          </button>
                    </li>
                </ul>   
            </div>
        </div>
    </div>

    <div class="col ">
        <div class=" card">
                <div class="box">
                    <h2><span>Informations étudiant</span></h2>
                    <ul class="list-group list-group-flush ml-0 mb-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:version]">    
                            <strong>  nom prénom:</strong> {{soutenance?.internship?.student?.name}}  {{soutenance?.internship?.student?.firstname}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:download_count]">
                            <strong>   section:</strong> {{soutenance?.internship?.student?.section}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                            <strong>   filière:</strong> {{soutenance?.internship?.student?.branch}}
                        </li>
                    </ul>
                    <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/etudiants/profil', soutenance?.internship?.student?.id]">
                    <i class="mdi mdi-account"></i>
                  </button>   
                </div>
        </div>
    </div>

    <div class="col ">
        <div class=" card">
            <div class="box">
                <h2><span>Informations stage</span></h2>
               
                    <ul class="list-group list-group-flush ml-0 mb-2">
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:version]">
                            <strong>   Sujet: </strong>{{soutenance?.internship?.topic}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:download_count]">
                            <strong>   Société: </strong>{{soutenance?.internship?.society}} 
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                            <strong>   Encadrant société: </strong><br>
                             {{soutenance?.internship?.societySupervisor}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                            <strong>   Encadrant école: </strong><br>
                             {{soutenance?.internship?.schoolSupervisor1?.name}} {{soutenance?.internship?.schoolSupervisor1?.firstname}}
                            {{soutenance?.internship?.schoolSupervisor2?.name}} {{soutenance?.internship?.schoolSupervisor2?.firstname}}
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_count]">
                            <strong>    date de début: </strong> {{soutenance?.internship?.startDate.substr(0,10)}}
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                            <strong>    date de fin: </strong> {{soutenance?.internship?.endDate.substr(0,10)}}
                        </li>
                       
                    </ul>
                    <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', soutenance?.internship?.student?.id]" >
                    <i class="mdi mdi-account"></i>
                  </button>      
            </div>
        </div>
    </div>
  
</div>
</div>
