
.bottom-page-navig{
    margin: 10px;
    display: inline-block;

}
.btm-pagination{
    margin: 10px;
}
.drop-year{
    float: right;
    margin-bottom: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: arial;
    border-top: 5px solid rgb(171,1,1);
    padding: 10px;
    margin: 10px;
  }

.info {
  padding:3px;
  margin: 3px;
} 
  
.title {
    color: grey;
    font-size: 15px;
    padding:3px;
    margin: 3px;
  }

h3 {font-size: 20px; font-weight: 300; color: rgb(33,155,243); margin: 0 0 5px; text-align: left}

#import-file {
  display: none;
}

#import-file-label {
  position: absolute;
  right: 48px;
}


