
<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div ngbDropdown>
                <button class="btn btn-info drop-year" type="button" id="dropdownMenuButton6" ngbDropdownToggle>
                  Annee universitaire : {{yearSelected}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
                  <a class="dropdown-item" *ngFor="let year of years['data']" (click)="changeYear(year['name'])">{{year['name']}}</a>
                </div>
            </div>
            <div class="table-responsive">
              <form class="forms-sample" #formulaire="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Numero d'inscription
                            </th>
                            <th>
                                Nom 
                            </th>
                            <th>
                                Prenom
                            </th>
                            <th>
                                Section
                            </th>
                            <th>
                                Filiere
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <td> <input type="text" class="form-control"  ngModel name="inscription_number"> </td> 
                      <td> <input type="text" class="form-control"  ngModel name="name"> </td> 
                      <td> <input type="text" class="form-control"  ngModel name="firstname"> </td> 
                      <td> <input type="text" class="form-control"  ngModel name="section"> </td> 
                      <td> <input type="text" class="form-control"  ngModel name="branch"> </td> 
                      <td>  
                        <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(formulaire.value,1,10)"  >
                        <i class="fa fa-search"></i>                       
                       </button>
                       <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(formulaire)" >
                        <i class="fa fa-times"></i>  
                      </button>  
                    </td> 
                        <tr *ngFor="let student of students">
                            <td class="py-1">
                                {{student?.inscription_number}}
                            </td>
                            <td>
                                {{student?.name}}
                            </td>
                            <td>
                                {{student?.firstname}}
                            </td>
                            <td>
                                {{student?.section}}
                            </td>
                            <td>
                                {{student?.branch}}
                            </td>

                            <td>
                                <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['profil/',student.id]">
                                    <i class="mdi mdi-account"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-info btn-icon" (click)="openModalDeleteStudent(modalConfirmDelete,student)">
                                    <i class="mdi mdi-delete"></i>
                                  </button> 
                                  <button type="button" class="btn btn-inverse-dark btn-icon" (click)="openModalUpdateStudent(modalUpdateStudentContent,student)">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </form>

            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button type="button" class="btn btn-outline-info btn-add btn-icon-text" (click)="openModalAddStudent(modalAddStudentContent)">
                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                Ajouter un étudiant
            </button>
            <label for="import-file" id="import-file-label" class="btn btn-outline-success btn-excel btn-icon-text">
              <i class="mdi mdi-upload btn-icon-prepend"></i>
              Importer un excel
            </label>
            <input id="import-file" type="file" (change)="uploadFile()" ng2FileSelect [uploader]="uploader" class="btn btn-outline-success btn-excel btn-icon-text">
        </div>
    </div>
</div>
    <ng-template class="modal fade" #modalAddStudentContent let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="card-title">Ajout d'un nouvel etudiant</h4>  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="forms-sample" #formulaire="ngForm">
              <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="mom" ngModel name="username" placeholder="Nom">
              </div>
                <div class="form-group">
                  <label for="exampleInputUsername1">Nom</label>
                  <input type="text" class="form-control" id="mom" ngModel name="name" placeholder="Nom">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Prenom</label>
                  <input type="email" class="form-control" id="prenom" ngModel name="firstname" placeholder="Prenom">
                </div>
                <div class="form-group">
                  <label for="num_inscri">Numero d'inscription</label>
                  <input type="text" class="form-control" id="num_inscri"  ngModel name ="inscription_number" placeholder="Num d'inscription">
                </div>
                <div class="form-group">
                  <label for="tel">Telephone</label>
                  <input type="text" class="form-control" id="tel"  ngModel name ="telephone" placeholder="Tel">
                </div>
                <div class="form-group">
                  <label for="tel">Passport</label>
                  <input type="text" class="form-control" id="tel"  ngModel name ="passeport" placeholder="passport">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email"  ngModel name ="email" placeholder="email">
                </div>
                <div class="form-group">
                  <label for="cin">CIN</label>
                  <input type="text" class="form-control" id="cin"  ngModel name ="cin" placeholder="cin">
                </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Branche</label>
                      <div class="col-sm-9">
                        <select class="form-control" ngModel name="branch">
                          <option>GL</option>
                          <option>RT</option>
                          <option>IMI</option>
                          <option>IIA</option>
                          <option>CH</option>
                          <option>BIO</option>
                          <option>MIQ</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Section</label>
                      <div class="col-sm-9">
                        <select class="form-control" ngModel name="section">
                          <option>Ingenieurie</option>
                          <option>Licence</option>
                          <option>Master</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addStudent(formulaire.value,modalSuccessAdd)"> Valider</button>
                <button class="btn btn-light" (click)="modal.close()">Annuler</button>
              </form>
          </div>
        </div>
      </ng-template>

      <ng-template #modalConfirmDelete let-modal class="modal fade">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Confirmation</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Vous voulez vraiment supprimer l'etudiant {{selectedStudent.firstname}} {{selectedStudent.name}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="deleteSudent(selectedStudent['id'], modalSuccessDelete)">Confirmer</button>
            <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
          </div>
        </div>
      </ng-template>
      <ng-template class="modal fade" #modalUpdateStudentContent let-modal>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="card-title">Modification d'un etudiant</h4>  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="forms-sample" #formulaire="ngForm">
               <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="mom" name="username" [(ngModel)]="selectedStudent.username" >
               </div>
                <div class="form-group">
                  <label for="exampleInputUsername1">Nom</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" name="name" [(ngModel)]="selectedStudent.name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Prenom</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="firstname" [(ngModel)]="selectedStudent.firstname">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Numero d'inscription</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" name="inscription_number"  [(ngModel)]="selectedStudent.inscription_number">
                </div>
                <div class="form-group">
                  <label for="tel">Telephone</label>
                  <input type="text" class="form-control" id="tel" name ="telephone" [(ngModel)]="selectedStudent.telephone" >
                </div>
              <div class="form-group">
                  <label for="passport">Passport</label>
                  <input type="text" class="form-control" id="passport"   name ="passeport" [(ngModel)]="selectedStudent.passeport" >
                </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" id="email"  name ="email"  [(ngModel)]="selectedStudent.email" >
                </div>
              <div class="form-group">
                  <label for="cin">CIN</label>
                  <input type="text" class="form-control" id="cin" name ="cin" [(ngModel)]="selectedStudent.cin" >
                </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Filiere</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="branch" [(ngModel)]="selectedStudent.branch">
                          <option>GL</option>
                          <option>RT</option>
                          <option>IMI</option>
                          <option>IIA</option>
                          <option>CH</option>
                          <option>BIO</option>
                          <option>MIQ</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Section</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="section" [(ngModel)]="selectedStudent.section">
                          <option>ING</option>
                          <option>Licence</option>
                          <option>Master</option>
                        </select>
                      </div>
                    </div>
                  </div>
                <button type="submit" class="btn btn-gradient-primary mr-2" (click)="updateStudent(selectedStudent['id'],formulaire.value,modalSuccessUpdate)">Valider</button>
                <button class="btn btn-light" (click)="modal.close()">Annuler</button>
              </form>
          </div>
        </div>
      </ng-template>
      <ng-template #modalSuccessDelete let-modal class="modal fade">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>L'etudiant {{selectedStudent.firstname}} {{selectedStudent.name}} a été supprimé avec succes</p>
          </div>
        </div>
      </ng-template>

      <ng-template #modalSuccessAdd let-modal class="modal fade">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>L'etudiant a été ajouté avec succes</p>
          </div>
        </div>
      </ng-template>

      <ng-template #modalSuccessUpdate let-modal class="modal fade">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>L'etudiant a été mis à jour avec succes</p>
          </div>
        </div>
      </ng-template>
</div>