.card {
    width:300px;
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-top: 5px solid rgb(171,1,1);
    border-radius:10px;
    transition:0.5s;
}

.sate  {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.state  span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}