<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <form class="forms-sample" #formulaire="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th *ngIf="role==='admin'">
                                cin
                            </th>
                            <th>
                                nom
                            </th>
                            <th>
                                prenom
                            </th>
                            <th>
                                email
                            </th>
                            <th *ngIf="role==='admin'">
                                telephone
                            </th>
                            <th *ngIf="role==='admin'">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let admin of admins">
                            <td *ngIf="role==='admin'" class="py-1">
                                {{admin?.cin}}
                            </td>
                            <td>
                                {{admin?.name}}
                            </td>
                            <td>
                                {{admin?.firstname}}
                            </td>
                            <td>
                                {{admin?.email}}
                            </td>
                            <td *ngIf="role==='admin'">
                                {{admin?.telephone}}
                            </td>

                            <td *ngIf="role==='admin'">
                                <button type="button" class="btn btn-inverse-danger btn-icon"  [routerLink]="['profil',admin.id]">
                                    <i class="mdi mdi-account"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-info btn-icon" (click)="openModalDeleteAdmin(modalConfirmDelete,admin)">
                                    <i class="mdi mdi-delete"></i>
                                  </button>
                                  <button  type="button" class="btn btn-inverse-dark btn-icon" (click)="openModalUpdateAdmin(modalUpdateAdminContent,admin)">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button *ngIf="role==='admin'" type="button" class="btn btn-outline-info btn-add btn-icon-text" (click)="openModalAddAdmin(modalAddAdminContent)">
                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                Ajouter un admin
            </button>
        </div>
    </div>
</div>

<ng-template class="modal fade" #modalAddAdminContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Ajout d'un nouvel admin</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            <input type="text" class="form-control" id="mom" ngModel name="username" placeholder="Nom">
          </div>
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" id="mom" ngModel name="name" placeholder="Nom">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Prenom</label>
              <input type="email" class="form-control" id="prenom" ngModel name="firstname" placeholder="Prenom">
            </div>
            <div class="form-group">
              <label for="tel">Telephone</label>
              <input type="text" class="form-control" id="tel"  ngModel name ="telephone" placeholder="Tel">
            </div>
            <div class="form-group">
              <label for="tel">Passport</label>
              <input type="text" class="form-control" id="tel"  ngModel name ="passeport" placeholder="passport">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email"  ngModel name ="email" placeholder="email">
            </div>
            <div class="form-group">
              <label for="cin">CIN</label>
              <input type="text" class="form-control" id="cin"  ngModel name ="cin" placeholder="cin">
            </div>
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addAdmin(formulaire.value,modalSuccessAdd)"> Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>

  <ng-template #modalConfirmDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Confirmation</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment supprimer l'admin {{selectedAdmin.firstname}} {{selectedAdmin.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteAdmin(selectedAdmin['id'], modalSuccessDelete)">Confirmer</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
      </div>
    </div>
  </ng-template>
  <ng-template class="modal fade" #modalUpdateAdminContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Modification d'un admin</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="mom" name="username" [(ngModel)]="selectedAdmin.username" >
            </div>
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" id="exampleInputUsername1" name="name" [(ngModel)]="selectedAdmin.name" >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Prenom</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="firstname" [(ngModel)]="selectedAdmin.firstname" >
            </div>
            <div class="form-group">
                <label for="tel">Telephone</label>
                <input type="text" class="form-control" id="tel" name ="telephone" [(ngModel)]="selectedAdmin.telephone" >
              </div>
            <div class="form-group">
                <label for="passport">Passport</label>
                <input type="text" class="form-control" id="passport"   name ="passeport" [(ngModel)]="selectedAdmin.passeport" >
              </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"  name ="email"  [(ngModel)]="selectedAdmin.email" >
              </div>
            <div class="form-group">
                <label for="cin">CIN</label>
                <input type="text" class="form-control" id="cin" name ="cin" [(ngModel)]="selectedAdmin.cin" >
              </div>
            <button type="submit" class="btn btn-gradient-primary mr-2"  (click)="updateAdmin(selectedAdmin['id'],formulaire.value,modalSuccessUpdate)">Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSuccessDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>L'admin {{selectedAdmin.firstname}} {{selectedAdmin.name}} a été supprimé avec succes</p>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSuccessAdd let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>L'admin a été ajouté avec succes</p>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSuccessUpdate let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>L'admin a été mis à jour avec succes</p>
      </div>
    </div>
  </ng-template>

</div>
