<app-spinner *ngIf="isLoading"></app-spinner>
  <div contentAnimate *ngIf="!isLoading" class="h-100">

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <form class="forms-sample" #formulaire="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                étudiant
                            </th>
                            <th>
                                section
                            </th>
                            <th>
                                filière
                            </th>
                            <th>
                                sujet
                            </th>
                            <th>
                                société
                            </th>
                            <th>
                                encadrants
                            </th>
                            <th>
                                rapport
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> <input type="text" class="form-control"  ngModel name="student"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="section"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="branch"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="topic"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="society"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="supervisor"> </td>  
                        <td>  
                        <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(formulaire.value,1,10)"  >
                        <i class="fa fa-search"></i>                       
                        </button>
                        <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(formulaire)" >
                            <i class="fa fa-times"></i>   
                        </button>  
                        </td>
                        <tr *ngFor="let internship of internships">
                        
                            <td class="py-1">
                             {{internship?.student?.name}} {{internship?.student?.firstname}}
                            </td>
                            
                            <td class="py-1">
                                {{internship?.student?.section}}  
                               </td>
                               <td class="py-1">
                                {{internship?.student?.branch}}  
                               </td>
                            <td class="py-1">
                               {{internship?.topic}}
                            </td>
                            <td class="py-1">
                                {{internship?.society}}
                             </td>
                            <td class="py-1">
                                 {{internship?.schoolSupervisor1?.name}}  {{internship?.schoolSupervisor1?.firstname}}
                                {{internship?.schoolSupervisor2?.name}}  {{internship?.schoolSupervisor2?.firstname}}
                            </td>
                            <td class="py-1">
                                <button type="button" class="btn btn-light btn-icon" (click)="downloadRapport(internship.id,internship.student.name,internship.student.firstname)">
                                    <i class="mdi mdi-cloud-download"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                   
                </table>
            </form>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]=" totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
</div>