<app-spinner *ngIf="isLoading"></app-spinner>
  <div contentAnimate *ngIf="!isLoading" class="h-100">


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                année universitaire
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <td> <form class="forms-sample" #formulaire="ngForm">
                        <input type="text" class="form-control"  ngModel name="name"> 
                         </form></td>
                         <td> 
                          <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(formulaire.value,1,10)"  >
                            <i class="fa fa-search"></i>                       
                           </button>
                           <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(formulaire)" >
                            <i class="fa fa-times"></i>   
                          </button>                 
                        </td>
                        <tr *ngFor="let academicYear of academicYears">
                            <td class="py-1">
                                {{academicYear.name}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-inverse-info btn-icon" (click)="openModalDeleteAcademicYear(modalConfirmDelete,academicYear)">
                                    <i class="mdi mdi-delete"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-dark btn-icon" (click)="openModalUpdateAcademicYear(modalUpdateAcademicYearContent,academicYear)">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button type="button" class="btn btn-outline-info btn-add btn-icon-text"(click)="openModalAddAcademicYear(modalAddAcademicYearContent)">
                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                Ajouter une année universitaire
            </button>
        </div>
    </div>
</div>

<ng-template class="modal fade" #modalUpdateAcademicYearContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Modification d'une année universitaire</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" [(ngModel)]="selectedAcademicYear.name" name="name">
                        </div> 
             
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="updateAcademicYear(selectedAcademicYear['id'],formulaire.value,modalSuccessUpdate)">Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
    </ng-template>
    
    
    
    <ng-template class="modal fade" #modalAddAcademicYearContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Ajout d'une nouvelle année universitaire</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
          <div class="form-group">
            <label for="exampleInputUsername1">année de début:</label>
            <input type="text" class="form-control" id="dYear" ngModel name="dYear" placeholder="année de début">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">année de fin:</label>
            <input type="text" class="form-control" id="eYear" ngModel name="eYear" placeholder="année de fin">
          </div>
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addAcademicYear(formulaire.value,modalSuccessAdd)"> Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
    </ng-template>
    
    <ng-template #modalConfirmDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Confirmation</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment supprimer l'année universitaire {{selectedAcademicYear.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteAcademicYear(selectedAcademicYear['id'], modalSuccessDelete)">Confirmer</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
      </div>
    </div>
    </ng-template>
    <ng-template #modalSuccessDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> L'année universitaire <strong>{{selectedAcademicYear.name}} </strong>a été supprimé avec succes</p>
      </div>
    </div>
    </ng-template>
    
    
    
    <ng-template #modalSuccessAdd let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>année universitaire a été ajoutée avec succés</p>
      </div>
    </div>
    </ng-template>

    

  <ng-template #modalSuccessDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Année a été supprimée avec succés</p>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSuccessUpdate let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Année a été mis à jour avec succés</p>
      </div>
    </div>
  </ng-template>
    





</div>