


.wrapper .search_box{
  display: flex;
  box-shadow: 0 8px 6px -10px #b3c6ff;
}

.wrapper .search_box .dropdown{
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}



.wrapper .search_box .search_field{
  position: relative;
}


