<app-spinner *ngIf="isLoading"></app-spinner>
  <div contentAnimate *ngIf="!isLoading" class="h-100">
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{student?.firstname}} {{student?.name}}</h1></div>
    </div>
    <div class="row">
          <div class="col-sm-3 "><!--left col-->
            <div class="img-thumbnail" style="text-align: center ;">
        <i class="fa fa-graduation-cap" style="font-size:120px;"> </i>
    </div>
        <!--<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">-->
    <hr>
    <br>
     
    <ul class="list-group">
    <li class="list-group-item"> <strong>username : </strong>{{student?.username}}<br></li>
    <li class="list-group-item"> <strong>email : </strong>{{student?.email}}<br></li>
    </ul>              
    </div><!--/col-3-->

    	<div class="col-sm-9">
            
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li ngbNavItem>
                  <a ngbNavLink>Informations</a>
                  <ng-template ngbNavContent>
                      
                    <strong>nom : </strong>{{student?.name}}<br>
                    <hr>
                    <strong>prénom : </strong>{{student?.firstname}}<br>
                    <hr>
                    <strong>année universitaire : </strong>{{student?.academicYear?.name}}<br>
                    <hr>
                    <strong>telephone : </strong>{{student?.telephone}}<br>
                    <hr>
                    <strong>section : </strong>{{student?.section}}<br>
                    <hr>
                    <strong>filière : </strong>{{student?.branch}}<br>
                    <hr>
                    <strong>passeport : </strong>{{student?.passeport}}<br>
                    <hr>
                </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Stage</a>
                  <ng-template ngbNavContent>
                 
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                sujet
                                            </th>
                                            
                                            <th>
                                                état
                                            </th>
                    
                                            <th>
                                                action
                                            </th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let internship of internships?.interships">
                                          <td class="py-1">
                                            {{internship?.topic}}
                                          </td>
                                            <td class="py-1">
                                                {{internship?.state}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', internship.id]">
                                                    <i class="mdi mdi-account"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button type="button" class="btn btn-outline-info btn-add btn-icon-text" (click)="openModalAddInternship(modalAddInternshipContent)" >
                                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                                Ajouter un stage
                            </button>
                        </div>
                    </div>
                  </ng-template>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink>Soutenance</a>
                    <ng-template ngbNavContent>     <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                session
                                            </th>
                                            
                                            <th>
                                                président
                                            </th>
                                            <th>
                                                examinateur
                                            </th>
                                        
                                            <th>
                                                action
                                            </th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let soutenance of soutenances?.soutenances">
                                            <td class="py-1">
                                                {{soutenance?.session?.academicYear}} 
                                              </td>

                                          <td class="py-1">
                                            {{soutenance?.president?.name}} {{soutenance?.president?.firstname}}
                                          </td>
                                            <td class="py-1">
                                                {{soutenance?.reviewer?.name}} {{soutenance?.reviewer?.firstname}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', soutenance.id]">
                                                    <i class="mdi mdi-account"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div></ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav"></div>




               
           
               
          </div><!--/tab-content-->

        </div><!--/col-9-->
</div><!--/row-->
<ng-template class="modal fade" #modalAddInternshipContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title"> Ajout d'un nouveau stage </h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
            <div class="form-group">
                <label for="topic">sujet:</label>
                <input type="text" class="form-control" id="topic" ngModel name="topic" placeholder="sujet">
              </div>
          <div class="form-group">
            <label for="society">société:</label>
            <input type="text" class="form-control" id="society" ngModel name="society" placeholder="société">
          </div>
          <div class="form-group">
            <label for="societySupervisor">encadrant société :</label>
            <input type="text" class="form-control" id="societySupervisor" ngModel name="societySupervisor" placeholder="encadrant société ">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">encadrant école 1 :</label> 
            <div class=" row search_box">
            <div class="col-md-4">
                <select class="mdb-select md-form" class="form-control dropdown" id="schoolSupervisor1" ngModel name="schoolSupervisor1" (change)="OnOptionSelected1($event.target.value)" >
                    <option value="-1" disabled selected> encadrant école 1</option>
                    <option *ngFor="let supervisor of schooolSupervisors ;" [value]="supervisor?.id" > {{supervisor?.name}} {{supervisor?.firstname}}</option>
                  </select>
                </div>  
            <div class="col-md-8 " >
                <div class="input-group search_field">
                    <input type="text" class="form-control" #sup1 placeholder="Encadrant">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button" (click)="getSupervisors(sup1.value)">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>         
            </div>
            </div>
          </div>
          <input type="checkbox"  class="form-group" name="supervisor2"  [(ngModel)]="supervisor2">
          <label for="vehicle1"> &nbsp; deuxième encadrant : </label><br>
          <div *ngIf="supervisor2"class="form-group">
              <div class=" row search_box">
              <div class="col-md-4">
                  <select class="mdb-select md-form" class="form-control dropdown" id="schoolSupervisor2" ngModel name="schoolSupervisor2" (change)="OnOptionSelected2($event.target.value)" >
                      <option value="-1" disabled selected> encadrant école 2</option>
                      <option *ngFor="let supervisor of schooolSupervisors ;" [value]="supervisor?.id" > {{supervisor?.name}} {{supervisor?.firstname}}</option>
                    </select>
                  </div>  
              <div class="col-md-8 " >
                  <div class="input-group search_field">
                      <input type="text" class="form-control" #sup2 placeholder="Encadrant">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" (click)="getSupervisors(sup2.value)">
                          <i class="fa fa-search"></i>
                        </button>
                      </div>
                    </div>         
              </div>
              </div>
            </div>


          <div class="form-group">
            <label for="exampleInputUsername1"> date début :</label>
            <input type="date" class="form-control" id="startDate" ngModel name="startDate" placeholder="date début ">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1"> date fin :</label>
            <input type="date" class="form-control" id="endDate" ngModel name="endDate" placeholder="date fin ">
          </div>

            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addInternship(formulaire.value,modalSuccessAdd)"> Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
    </ng-template>
    
    <ng-template #modalSuccessAdd let-modal class="modal fade">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
            <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Stage a été ajouté avec succés pour étudiant <strong>{{student?.name}} {{student?.firstname}} </strong></p>
          </div>
        </div>
        </ng-template>
    





</div>