.card {
    width:300px;
    min-height:400px;
    background:#fff;
    box-shadow:0 20px 50px rgba(0,0,0,.1);
    border-top: 5px solid rgb(171,1,1);
    border-radius:10px;
    transition:0.5s;
}

.btm-pagination{
    margin: 10px;
}
.drop-year{
    float: right;
    margin-bottom: 10px;
}

.inline-groups {
    justify-content: space-around !important;
}

.inline-groups > div {
    width: 45%;
}


.flx {
    display: flex;
}

.not-allowed {
    cursor: not-allowed;
}

.mg {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.ps {
    position: relative;
    left: 2.5%;
}




.wrapper .search_box{
    display: flex;
    box-shadow: 0 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .dropdown{
    border-right: 2px solid #dde2f1;
    color: #9fa3b1;
    position: relative;
    cursor: pointer;
  }
  
  
  
  .wrapper .search_box .search_field{
    position: relative;
  }
  