<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
<div ngbDropdown>
                <button class="btn btn-info drop-year" type="button" id="dropdownMenuButton6" ngbDropdownToggle>
                  Annee universitaire : {{yearSelected}}
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton6">
                  <a class="dropdown-item" *ngFor="let year of years['data']" (click)="changeYear(year['name'])">{{year['name']}}</a>
                </div>        
            </div>
            <div class="table-responsive">
                <form class="forms-sample" #form="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
        
                            <th>
                                étudiant
                            </th>
                            <th>
                                sujet
                            </th>
                            <th>
                                encadrants
                            </th>
                            <th>
                                président
                            </th>
                            <th>
                               examinateur
                            </th>
                            <th>
                                rapport
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> <input type="text" class="form-control"  ngModel name="student"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="topic"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="supervisor"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="president"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="reviewer"> </td> 
                        <td></td>
                        <td>  
                            <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(form.value,1,10)"  >
                            <i class="fa fa-search"></i>                       
                           </button>
                           <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(form)" >
                            <i class="fa fa-times"></i> 
                          </button>  
                          </td>
                        <tr *ngFor="let soutenance of soutenances">
                        
                            <td class="py-1">
                             {{soutenance?.internship?.student?.name}}  {{soutenance?.internship?.student?.firstname}}
                            </td>
                            <td class="py-1">
                               {{soutenance?.internship?.topic}}
                            </td>
                            <td class="py-1">
                                 {{soutenance?.internship?.schoolSupervisor1?.name}}  {{soutenance?.internship?.schoolSupervisor1?.firstname}}
                                {{soutenance?.internship?.schoolSupervisor2?.name}}  {{soutenance?.internship?.schoolSupervisor2?.firstname}}
                            </td>
                            <td class="py-1">
                              {{soutenance?.president?.name}}  {{soutenance?.president?.firstname}}
                            </td>
                            <td class="py-1">
                              {{soutenance?.reviewer?.name}} {{soutenance?.reviewer?.firstname}}
                            </td>
                            <td class="py-1">
                                <button type="button" class="btn btn-light btn-icon" (click)="downloadRapport(soutenance.internship.id,soutenance.internship.student.name,soutenance.internship.student.firstname)">
                                    <i class="mdi mdi-cloud-download"></i>
                                  </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['profil',soutenance?.id]">
                                    <i class="mdi mdi-account"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-info btn-icon">
                                    <i class="mdi mdi-delete"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-dark btn-icon">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-success btn-icon"(click)="downloadPdf(soutenance?.id,soutenance?.internship?.student?.name,soutenance?.student?.firstname)">
                                    <i class="mdi mdi-file-pdf"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]=" totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button type="button" (click)="openModal(addSoutenanceModal)"
                    class="btn btn-outline-info btn-add btn-icon-text">
                    <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                    Ajouter une soutenance
                </button>
        </div>
    </div>
<ng-template class="modal fade" #addSoutenanceModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="card-title ps">Ajout d'une soutenance</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">      
            <form class="forms-sample" #formulaire="ngForm">
                <div class="flx inline-groups">
                      <div class="form-group mg">
                        <label for="date">Veuillez selectionner la date dé début</label>
                        <div class="input-group search_field">
                            <input type="datetime-local" [(ngModel)]="selectedDate" #date class="form-control" ngModel name="soutenanceStartTime" placeholder="date">
                            <div class="input-group-append">
                              <button class="btn btn-success  btn-fw" type="button" (click)="submitDate()">
                                <i class="fa fa-check"  ></i>
                              </button>
                            </div>
                          </div>
                    </div>
            
            
            
            
                      <div *ngIf="timeIsChosen">
                        <div class="form-group mg">
                          <label for="date">Veuillez selectionner la date dé fin</label>
                          <div class="input-group search_field">
                              <input type="datetime-local" [value]="selectedDate" #date class="form-control" ngModel name="soutenanceEndTime">
                            </div>
                      </div>
              
                <div class="form-group mg">
                    <label for="numero-inscri">Numero d'inscription de l'étudiant</label>
                    <div class="input-group search_field">
                        <input type="text" class="form-control" #student  ngModel name="numero-inscri" placeholder="numéro innscription">
                        <div class="input-group-append">
                          <button class="btn btn-success  btn-fw" type="button" (click)="submitStudent(student.value)">
                            <i class="fa fa-check"  ></i>
                          </button>
                        </div>
                      </div>
                      <ul *ngIf="studentFetched" >
                        <hr>
                        <li >
                            <strong> section : </strong> {{section}}
                        </li>
                        <hr>
                        <li>
                            <strong> filière  : </strong> {{branch}}
                        </li>
                        <hr>
            
                        </ul>
                </div>
                <div class="form-group mg">
                    <label>Veuillez choisir le stage de l'étudiant</label>
                    <div class="form-group">
                        <div class=" row search_box">
                        <div class="col-md-4">
                            <select class="mdb-select md-form" class="form-control dropdown" ngModel name="internship" (change)="OnOptionSelected1($event.target.value)" >
                                <option value="-1" disabled selected> stages</option>
                                <option *ngFor="let internship of internships ;" [value]="internship?.id" > {{internship?.topic}} </option>
                              </select>
                            </div>  
                      
                        </div>
                      </div>
            
                      <ul *ngIf="internshipFetched" >
                        <hr>
                        <li >
                            <strong> encadrants : </strong> {{sup1}} 
                             {{sup2}}
                        </li>
                        <hr>
            
                        </ul>
                </div>
                <div class="flx inline-groups">
                    <div class="form-group">
                        <label>president de jury</label>
                        <select class="mdb-select md-form" class="form-control dropdown" ngModel name="president" (change)="OnOptionSelected2($event.target.value)" >
                            <option value="-1" disabled selected> président</option>
                            <option *ngFor="let president of jurys ;" [value]="president?.id" > {{president?.name}} {{president?.firstname}}</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label>examinateur</label>
                        <select class="mdb-select md-form" class="form-control dropdown" ngModel name="reviewer" (change)="OnOptionSelected3($event.target.value)" >
                            <option value="-1" disabled selected> examinateur</option>
                            <option *ngFor="let reviewer of jurys ;" [value]="reviewer?.id" > {{reviewer?.name}} {{reviewer?.firstname}}</option>
                          </select>
                    </div>
                </div>
                <div class="form-group mg">
                    <label for="exampleInputEmail1">Salle de soutenance</label>
                    <select class="mdb-select md-form" class="form-control dropdown" id="room" ngModel name="room" (change)="OnOptionSelected4($event.target.value)" >
                        <option value="-1" disabled selected> salle</option>
                        <option *ngFor="let room of rooms ;" [value]="room?.id" > {{room?.name}} </option>
                      </select>
                </div>
                <div class="ps">
                    <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addSoutenance(formulaire.value,modalSuccessAdd)">Valider</button>
                    <button class="btn btn-light" >Annuler</button>
                </div>
            </div>
            </div>
            
            </form>
            
            <ng-template #modalSuccessAdd let-modal class="modal fade">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>La soutenance a été ajouté avec succes</p>
                  </div>
                </div>
              </ng-template>
        </div>
    </div>
</ng-template>
<ng-template #modalSuccessAdd let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La soutenance a été ajouté avec succes</p>
      </div>
    </div>
  </ng-template>
</div>
