<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo" routerLink="/"><img style="margin-top: 40px;height: 100px;"src="https://res.cloudinary.com/dbrrex4qp/image/upload/v1612618167/133864244_2844305829226218_7697868348779829200_n_exh0pj.jpg" alt="logo" /></a>
    <a class="navbar-brand brand-logo-mini" routerLink="/"><img src="https://res.cloudinary.com/dbrrex4qp/image/upload/v1612618167/133864244_2844305829226218_7697868348779829200_n_exh0pj.jpg" alt="logo" /></a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize" (click)="toggleSidebar()">
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav navbar-nav-right">
        <a>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">{{name}}</p>
          </div>
        </a>

      <li class="nav-item nav-logout d-none d-lg-block">
        <a class="nav-link" href="javascript:;"   (click)="authService.logout()" routerLink="/login" >
          <i class="fa fa-power-off" ></i>
        </a>
      </li>
    </ul>
  </div>
</nav>