<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile" style="margin-top: 50px;"> 
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-text">
          <span *ngIf="role==='etudiant' || role==='enseignant'|| role==='admin'" class="font-weight-bold mb-2">{{name}}</span>
          <span *ngIf="role==='admin'" class="text-secondary text-small"> 
            <i class="fa fa-cog menu-icon"> </i> &nbsp; Administrateur
          </span>
          <span *ngIf="role==='etudiant'" class="text-secondary text-small">
            <i class="fa fa-graduation-cap menu-icon"> </i> &nbsp; Etudiant
          </span>
          <span *ngIf="role==='enseignant'" class="text-secondary text-small">
            <i class="fa fa-briefcase menu-icon"></i>&nbsp; Enseignant
          </span>
        </div>
      </a>
    </li>
    <li class="nav-item"  [ngClass]="{ 'active': profil.isActive }">
      <a class="nav-link"  (click)="redirectToProfile()" routerLinkActive #profil="routerLinkActive">
        <span class="menu-title">Mon profil</span>
        <i class="fa fa-user  menu-icon"> </i>
      </a>
    </li>
    <li  *ngIf="role==='admin'"   class="nav-item"  [ngClass]="{ 'active': admins.isActive }">
      <a class="nav-link"  routerLink="/admins" routerLinkActive #admins="routerLinkActive">
        <span class="menu-title">Administrateurs</span>
        <i class="fa fa-cog menu-icon"> </i>
      </a>
    </li>
      <li *ngIf="role==='admin'" class="nav-item" [ngClass]="{ 'active': students.isActive }" >
      <a class="nav-link" routerLink="/etudiants" routerLinkActive #students="routerLinkActive">
        <span class="menu-title">Etudiants</span>
        <i class="fa fa-graduation-cap menu-icon"> </i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': teachers.isActive }">
      <a class="nav-link" routerLink="/enseignants" routerLinkActive #teachers="routerLinkActive">
        <span class="menu-title">Enseignants</span>
        <i class="fa fa-briefcase menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': rapports.isActive }">
      <a class="nav-link"  routerLink="/rapports" routerLinkActive #rapports="routerLinkActive" >
        <span class="menu-title">Rapports</span>
        <i class="fa  fa-file-pdf-o menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': sessions.isActive }">
      <a class="nav-link"  routerLink="/sessions" routerLinkActive #sessions="routerLinkActive">
        <span class="menu-title">Sessions</span>
        <i class="fa fa-calendar menu-icon"></i>
      </a>
    </li>
    <li *ngIf="role==='admin'" class="nav-item" [ngClass]="{'active': soutenances.isActive }" >
      <a class="nav-link" routerLink="/soutenances" routerLinkActive #soutenances="routerLinkActive">
        <span class="menu-title">Soutenances</span>
        <i class="fa fa-calendar menu-icon"></i>
      </a>
    </li>
    <li *ngIf="role==='admin'" class="nav-item" [ngClass]="{'active': rooms.isActive }">
      <a class="nav-link" routerLink="/salles" routerLinkActive #rooms="routerLinkActive">
        <span class="menu-title">Salles</span>
        <i class="fa fa-map-marker menu-icon"></i>
      </a>
    </li>
    <li  *ngIf="role==='admin'" class="nav-item" [ngClass]="{'active': years.isActive }">
      <a class="nav-link"  routerLink="/annee_universitaires" routerLinkActive #years="routerLinkActive">
        <span class="menu-title">Années universitaire</span>
        <i class="fa fa-bar-chart menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a  *ngIf="role==='admin'" class="nav-link" (click)="uiBasicCollapsed = !uiBasicCollapsed" [attr.aria-expanded]="uiBasicCollapsed" aria-controls="ui-basic">
        <span class="menu-title" routerLink="/stages">Stages</span> 
        <i class="menu-arrow"></i>
        <i class="mdi mdi-account-search menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!uiBasicCollapsed">
        <ul class="nav flex-column sub-menu">
          <li *ngIf="role==='admin'" class="nav-item" routerLink="/stages/valider" routerLinkActive #teachers="routerLinkActive"> <a class="nav-link" >Stages à valider</a></li>
          <li class="nav-item" routerLink="/stages/ingenieurie"> <a class="nav-link" >Ingénieurie</a></li>
          <li class="nav-item" routerLink="/stages/licence"> <a class="nav-link" >Licence</a></li>
          <li class="nav-item" routerLink="/stages/mastere"> <a class="nav-link" >Mastère</a></li>
        </ul>
      </div>
    </li>
    
  </ul>
</nav>
