<app-spinner *ngIf="isLoading"></app-spinner>
  <div contentAnimate *ngIf="!isLoading" class="h-100">
    
 
  <div>




    <hr />
    <div class="container bootstrap snippet">
      <div class="row">
        <div class="col-sm-10">
          <h1>{{ teacher?.firstname }} {{ teacher?.name }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <!--left col-->
          <div class="img-thumbnail" style="text-align: center">
            <i class="fa fa-briefcase" style="font-size: 120px"> </i>
          </div>
          <!--<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">-->
          <hr />
          <br />
    
          <ul class="list-group">
            <li class="list-group-item">
              <strong>rôle : </strong> enseignant<br />
            </li>
            <li class="list-group-item">
              <strong>username : </strong>{{ teacher?.username }}<br />
            </li>
            <li class="list-group-item">
              <strong>email : </strong>{{ teacher?.email }}<br />
            </li>
          </ul>
        </div>
        <!--/col-3-->
    
        <div class="col-sm-9">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
              <a ngbNavLink>Informations</a>
              <ng-template ngbNavContent>
                <strong>nom : </strong>{{ teacher?.name }}<br />
                <hr />
                <strong>prénom : </strong>{{ teacher?.firstname }}<br />
                <hr />
                <strong>telephone : </strong>{{ teacher?.telephone }}<br />
                <hr />
                <strong>passeport : </strong>{{ teacher?.passeport }}<br />
                <hr /> 
              </ng-template>
            </li>
    
         <li ngbNavItem>
              <a ngbNavLink>Stage</a>
              <ng-template ngbNavContent> 
                    
                <div class=" pills pillsV-tab-wrap py-3 tab-wrap" >
                    <div class="tab-wrap">
                        <div class="row">
                            <div class=" col-3">
                        <ul ngbNav #intern="ngbNav" class="nav flex-column nav-pills">
                          <li ngbNavItem>
                            <a class="nav-link" ngbNavLink>validés</a>
                            <ng-template ngbNavContent > 
                              <div class="table-responsive" >
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                        <th>sujet</th>
                                        <th>étudiant</th>
                                        <th>action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let internship of validInternships">
                                      <td class="py-1">
                                        {{internship?.topic}}
                                      </td>
                                        <td class="py-1">
                                          {{internship?.student?.name}} {{internship?.student?.firstname}}
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', internship.id]">
                                                <i class="mdi mdi-account"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                              </div>
                      </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a class="nav-link" ngbNavLink>en attente</a>
                                <ng-template ngbNavContent > 
                                  <div class="table-responsive" >
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                            <th>sujet</th>
                                            <th>étudiant</th>
                                            <th>action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let internship of waitingInternships">
                                          <td class="py-1">
                                            {{internship?.topic}}
                                          </td>
                                            <td class="py-1">
                                              {{internship?.student?.name}} {{internship?.student?.firstname}}
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', internship.id]">
                                                    <i class="mdi mdi-account"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    </table>
                                  </div>
                          </ng-template>
                                </li>
                                <li ngbNavItem >
                                    <a class="nav-link" ngbNavLink>refusés</a>
                                    <ng-template ngbNavContent > 
                                      <div class="table-responsive" >
                                        <table class="table table-striped">
                                          <thead>
                                            <tr>
                                                <th>sujet</th>
                                                <th>étudiant</th>
                                                <th>action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr *ngFor="let internship of refusedInternships">
                                              <td class="py-1">
                                                {{internship?.topic}}
                                              </td>
                                                <td class="py-1">
                                                    {{internship?.student?.name}} {{internship?.student?.firstname}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/stages/profil', internship.id]">
                                                        <i class="mdi mdi-account"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        </table>
                                      </div>
                              </ng-template>
                                    </li>
                        
                        </ul>
                            </div>
                        <div class=" content col-9" >
                        <div [ngbNavOutlet]="intern"></div>
                        </div>
                        </div>
                    </div>
                    </div>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Soutenance</a>
              <ng-template ngbNavContent>
    
                <div class=" pills pillsV-tab-wrap py-3 tab-wrap" >
                    <div class="tab-wrap">
                        <div class="row">
                            <div class=" col-4">
                        <ul ngbNav #sout="ngbNav" class="nav flex-column nav-pills">
                          <li ngbNavItem>
                            <a class="nav-link" ngbNavLink>president</a>
                            <ng-template ngbNavContent > 
                              <div class="table-responsive" >
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                        <th>année</th>
                                        <th>session</th>
                                        <th>action</th>
                                      </tr>
                                  </thead>
                                  <tr *ngFor="let soutenance of presidentSoutenances">
                                    <td class="py-1">
                                      {{soutenance?.session?.academicYear?.name}}
                                    </td>
                                      <td class="py-1">
                                          {{soutenance?.session?.name}}
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/soutenances/profil', soutenance.id]">
                                              <i class="mdi mdi-account"></i>
                                          </button>
                                      </td>
                                  </tr>
                                </table>
                              </div>
            
                      </ng-template>
                            </li>
                            <li ngbNavItem>
                                <a class="nav-link" ngbNavLink>examinateur</a>
                                <ng-template ngbNavContent > 
                                  <div class="table-responsive" >
                                    <table class="table table-striped">
                                      <thead>
                                        <tr>
                                            <th>année</th>
                                            <th>session</th>
                                            <th>action</th>
                                          </tr>
                                      </thead>
                                      <tr *ngFor="let soutenance of reviewerSoutenances">
                                        <td class="py-1">
                                          {{soutenance?.session?.academicYear?.name}}
                                        </td>
                                          <td class="py-1">
                                              {{soutenance?.session?.name}}
                                          </td>
                                          <td>
                                              <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/soutenances/profil', soutenance.id]">
                                                  <i class="mdi mdi-account"></i>
                                              </button>
                                          </td>
                                      </tr>
                                    </table>
                                  </div>
                          
                          </ng-template>
                                </li>
                                <li ngbNavItem >
                                    <a class="nav-link" ngbNavLink>encadrant</a>
                                    <ng-template ngbNavContent > 
                                      <div class="table-responsive" >
                                        <table class="table table-striped">
                                          <thead>
                                            <tr>
                                                <th>année</th>
                                                <th>session</th>
                                                <th>action</th>
                                              </tr>
                                          </thead>
                                          <tr *ngFor="let soutenance of reviewerSoutenances">
                                            <td class="py-1">
                                              {{soutenance?.session?.academicYear?.name}}
                                            </td>
                                              <td class="py-1">
                                                  {{soutenance?.session?.name}}
                                              </td>
                                              <td>
                                                  <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/soutenances/profil', soutenance.id]">
                                                      <i class="mdi mdi-account" ></i>
                                                  </button>
                                              </td>
                                          </tr>
                                        </table>
                                      </div>
                                   
                              </ng-template>
                                    </li>
                        
                        </ul>
                            </div>
                        <div class=" content col-8" >
                        <div [ngbNavOutlet]="sout"></div>
                        </div>
                        </div>
                    </div>
                    </div>
                    </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>
        </div>
        <!--/tab-content-->
      </div>
      <!--/col-9-->
    </div>
    <!--/row-->
    

  </div>







