/**Pills Tabs - Vertical Section**/
.content {
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:white;

}



.pillsV-tab-wrap .nav {

    border: none;
}
.pillsV-tab-wrap .nav .nav-link {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 18px;
    border: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #666666;
    background-color:white;
}
.pillsV-tab-wrap .nav .nav-link:hover {
    background: #e2e2e2;
}
.pillsV-tab-wrap .nav .nav-link.active {
    background: #2bbbad;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



