<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body"> 
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                salle
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                      <td> <form class="forms-sample" #formulaire="ngForm">
                     <input type="text" class="form-control" #name  ngModel name="name"> 
                      </form></td>
                      <td> 
                        <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(formulaire.value,1,10)"  >
                          <i class="fa fa-search"></i>                       
                         </button>
                         <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(formulaire)" >
                          <i class="fa fa-times"></i>    
                        </button>                 
                      </td>
                        <tr *ngFor="let room of rooms">
                            <td class="py-1">
                                {{room?.name}}
                            </td>
                            <td>
                                  <button type="button" class="btn btn-inverse-info btn-icon" (click)="openModalDeleteRoom(modalConfirmDelete,room)">
                                    <i class="mdi mdi-delete"></i>
                                  </button>
                                  <button type="button" class="btn btn-inverse-dark btn-icon" (click)="openModalUpdateRoom(modalUpdateRoomContent,room)">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button type="button" class="btn btn-outline-info btn-add btn-icon-text" (click)="openModalAddRoom(modalAddRoomContent)">
                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                Ajouter une salle
            </button>
        </div>
    </div>
</div>

<ng-template class="modal fade" #modalUpdateRoomContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Modification d'une salle</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
            <div class="form-group">
              <label for="exampleInputUsername1">Nom</label>
              <input type="text" class="form-control" [(ngModel)]="selectedRoom.name" name="name">
            </div>  
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="updateRoom(selectedRoom['id'],formulaire.value,modalSuccessUpdate)">Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>



<ng-template class="modal fade" #modalAddRoomContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Ajout d'une nouvelle salle</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">
          <div class="form-group">
            <label for="exampleInputUsername1">nom</label>
            <input type="text" class="form-control" id="mom" ngModel name="name" placeholder="Nom">
          </div>
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addRoom(formulaire.value,modalSuccessAdd)"> Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>





  <ng-template #modalConfirmDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Confirmation</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment supprimer la salle {{selectedRoom.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteRoom(selectedRoom['id'], modalSuccessDelete)">Confirmer</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalSuccessDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> La salle <strong>{{selectedRoom.name}} </strong>a été supprimé avec succes</p>
      </div>
    </div>
  </ng-template>



  <ng-template #modalSuccessAdd let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Salle a été ajoutée avec succés</p>
      </div>
    </div>
  </ng-template>


  <ng-template #modalSuccessUpdate let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Salle a été mis à jour avec succés</p>
      </div>
    </div>
  </ng-template>






</div>