

.card:hover {
    box-shadow:0 30px 70px rgba(0,0,0,.2);
}
.card .box {
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    width:100%;
}

.card .box h2 {
    font-size:20px;
    color:#262626;
    margin:20px auto;
}
.card .box h2 span {
    font-size:14px;
    background:#e91e63;
    color:#fff;
    display:inline-block;
    padding:4px 10px;
    border-radius:15px;
}
.card .box p {
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
