
<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">
   
<div class="row">
    <div class="col ">
        <div class="card"> 
            <div class="box">
                <ul class="list-group list-group-flush ml-0 mb-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                        <strong> session:</strong> {{session?.nom}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                        <strong> année universitaire :</strong> {{session?.academicYear?.name}}
                    </li>
                    
                
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                        <strong> date de début:</strong> {{session?.startDate.toString().substr(0,10)}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:update_date]">
                          <strong> date de fin:</strong> {{session?.endDate.toString().substr(0,10)}}
                    </li>

                </ul>   
            </div>
            <button type="button" class="btn btn-gradient-primary btn-icon-text">
                <i class="mdi mdi-file-check btn-icon-prepend"></i>
                générer PDF
              </button>
        </div>
    </div>
    
</div>

<div class="row">
  
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <strong> Liste des soutenances de cette session:</strong>
            <hr>
            <br>    
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                président
                            </th>
                            <th>
                               examinateur
                            </th>
                            <th>
                                salle
                             </th>
                             <th>
                                date
                             </th>
                             <th>
                                heure début
                             </th>
                             <th>
                                heure de fin
                             </th>                          
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let soutenance of soutenances.data">
                            <td class="py-1">
                                {{soutenance?.president?.name}}  {{soutenance?.president?.firstname}}
                            </td>
                            <td class="py-1">
                                {{soutenance?.reviewer?.name}}  {{soutenance?.reviewer?.firstname}}
                            </td>
                            <td class="py-1">
                                {{soutenance?.room?.name}}
                            </td>
                            <td class="py-1">
                                {{soutenance?.soutenanceStartTime.toString().substr(0,10)}} 
                            </td>
                            <td class="py-1">
                                {{soutenance?.soutenanceStartTime.toString().substr(11,5)}} 
                            </td>
                            <td class="py-1">
                                {{soutenance?.soutenanceEndTime.toString().substr(11,5)}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/soutenances/profil', soutenance.id]" >
                                    <i class="mdi mdi-account"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>
</div>
</div>