<div class="d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
      <div class="col-lg-6 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5" style="margin-top: 25%;">   
          <h1 class="font-weight-bold">INSAT PFE</h1>      
          <h3 class="font-weight-light">Authentification</h3>
          <h6 *ngIf="showError" class="error">login ou mot de passe incorrect</h6>
          <form class="pt-3" #formulaire="ngForm">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" id="username" ngModel name="username" placeholder="login">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" id="password"  ngModel name="password" placeholder="Mot de passe">
            </div>
            <div class="mt-3">
              <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" (click)="login(formulaire.value)">S'authentifier</a>
            </div>
            <div class="my-2 d-flex justify-content-between align-items-center">
              <div class="form-check">
                <label class="form-check-label text-muted">
                  <input type="checkbox" class="form-check-input">
                  <i class="input-helper"></i>
                  Se souvenir de moi
                </label>
              </div>
              <a href="javascript:(void)" class="auth-link text-black">mot de passe oublie?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>  