<app-spinner *ngIf="isLoading"></app-spinner>
  <div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <form class="forms-sample" #formulaire="ngForm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Titre
                            </th>
                            <th>
                                date de début
                            </th>
                            <th>
                                date de fin
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="startDate"> </td> 
                        <td> <input type="text" class="form-control"  ngModel name="endDate"> </td> 
                        <td>  
                          <button type="button" class="btn btn-inverse-success btn-icon"   (click)="search(formulaire.value,1,10)"  >
                          <i class="fa fa-search"></i>                       
                         </button>
                         <button type="button" class="btn btn-inverse-primary btn-icon" (click)="clearSearch(formulaire)" >
                            <i class="fa fa-times"></i> 
                        </button>  
                      </td> 
                        <tr *ngFor="let session of sessions">
                            <td class="py-1">
                                {{session?.nom}}
                            </td>
                            <td class="py-1">
                                {{session?.startDate.toString().substr(0,10)}}
                            </td>
                            <td class="py-1">
                                {{session?.endDate.toString().substr(0,10)}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-inverse-danger btn-icon"  [routerLink]="['profil',session.id]">
                                    <i class="mdi mdi-account"></i>
                                  </button>
                                  <button *ngIf="role==='admin'" type="button" class="btn btn-inverse-info btn-icon" (click)="openModalDeleteSession(modalConfirmDelete,session)">
                                    <i class="mdi mdi-delete"></i>
                                  </button>
                                  <button *ngIf="role==='admin'" type="button" class="btn btn-inverse-dark btn-icon">
                                    <i class="mdi mdi-pencil"></i>
                                  </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            </div>
            <div class="row justify-content-center btm-pagination">
                <ngb-pagination [collectionSize]="totalsize" [pageSize]="10" [page]="1" aria-label="Default pagination">
                </ngb-pagination>
            </div>
            <button  *ngIf="role==='admin'" type="button" class="btn btn-outline-info btn-add btn-icon-text" (click)="openModalAddSession(modalAddSessionContent)">
                <i class="mdi mdi-account-plus btn-icon-prepend"></i>
                Ajouter une session
            </button>
        </div>
    </div>
</div>


<ng-template class="modal fade" #modalAddSessionContent let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="card-title">Ajout d'une nouvelle session</h4>  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="forms-sample" #formulaire="ngForm">

          <div class="form-group">
            <label for="exampleInputUsername1">nom</label>
            <input type="text" class="form-control" id="mom" ngModel name="nom" placeholder="Nom">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1"> date début :</label>
            <input type="date" class="form-control" id="startDate" ngModel name="startDate" placeholder="date début ">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1"> date fin :</label>
            <input type="date" class="form-control" id="endDate" ngModel name="endDate" placeholder="date fin ">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1"> année universitaire :</label>
            <select class="mdb-select md-form" class="form-control dropdown" id="schoolSupervisor2" ngModel name="academicYear" (change)="OnOptionSelected($event.target.value)" >
                <option value="-1" disabled selected> année universitaire </option>
                <option *ngFor="let year of years ;" [value]="year?.id" > {{year?.name}} </option>
            </select>
          </div>
            <button type="submit" class="btn btn-gradient-primary mr-2" (click)="addSession(formulaire.value,modalSuccessAdd)"> Valider</button>
            <button class="btn btn-light" (click)="modal.close()">Annuler</button>
          </form>
      </div>
    </div>
  </ng-template>

  <ng-template #modalConfirmDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Confirmation</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Vous voulez vraiment supprimer la salle {{selectedSession.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="deleteRoom(selectedSession['id'], modalSuccessDelete)">Confirmer</button>
        <button type="button" class="btn btn-light" (click)="modal.close()">Annuler</button>
      </div>
    </div>
  </ng-template>










<ng-template #modalSuccessAdd let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Session a été ajoutée avec succés</p>
      </div>
    </div>
  </ng-template>


  <ng-template #modalSuccessDelete let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Session a été supprimée avec succés</p>
      </div>
    </div>
  </ng-template>

  <ng-template #modalSuccessUpdate let-modal class="modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Success</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Session a été mis à jour avec succés</p>
      </div>
    </div>
  </ng-template>

</div>