<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{admin?.firstname}} {{admin?.name}}</h1></div>
    </div>
    <div class="row">
          <div class="col-sm-3 "><!--left col-->
            <div class="img-thumbnail" style="text-align: center ;">
        <i class="fa fa-cog menu-icon" style="font-size:120px;"> </i>
    </div>
        <!--<img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">-->
    <hr>
    <br>
     
    <ul class="list-group">
    <li class="list-group-item"> <strong>username : </strong>{{admin?.username}}<br></li>
    <li class="list-group-item"> <strong>email : </strong>{{admin?.email}}<br></li>
    </ul> 

</div>
<div class="col-sm-9">
            
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink>Informations</a>
          <ng-template ngbNavContent>
              
            <strong>nom : </strong>{{admin?.name}}<br>
            <hr>
            <strong>prénom : </strong>{{admin?.firstname}}<br>
            <hr>
            <strong>telephone : </strong>{{admin?.telephone}}<br>
            <hr>
            <strong>passeport : </strong>{{admin?.passeport}}<br>
            <hr>
        </ng-template>
        </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>

</div>
</div>
</div>
