
<app-spinner *ngIf="isLoading"></app-spinner>
<div contentAnimate *ngIf="!isLoading" class="h-100">
<div class="row">
    <div class="col ">
        <div class="card"> 
            <div class="box">
                <h2 style="text-align: center;"><span> {{internship?.state}} </span></h2>       
                
                <ul class="list-group list-group-flush ml-0 mb-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:version]">
                        <strong> sujet : </strong> {{internship?.topic}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:download_count]">
                        <strong> sociéte : </strong> {{internship?.society}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:download_count]">
                        <strong> état : </strong> {{internship?.state}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                        <strong>étudiant: </strong>{{internship?.student?.name}} {{internship?.student?.firstname}} 
                         <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/etudiants/profil', internship.student?.id]">
                            <i class="mdi mdi-account"></i>
                          </button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                        <strong>encadrant 1 : </strong>{{internship?.schoolSupervisor1?.name}} {{internship?.schoolSupervisor1?.firstname}} 
                         <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/enseignants/profil', internship.schoolSupervisor1?.id]" >
                            <i class="mdi mdi-account"></i>
                          </button>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:file_size]">
                        <strong>encadrant 2 : </strong>{{internship?.schoolSupervisor2?.name}} {{internship?.schoolSupervisor2?.firstname}} 
                         <button type="button" class="btn btn-inverse-danger btn-icon" [routerLink]="['/enseignants/profil', internship.schoolSupervisor2?.id]">
                            <i class="mdi mdi-account"></i>
                          </button>
                    </li>
                   
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:create_date]">
                        <strong> date de début:</strong> {{internship?.startDate.substr(0,10)}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:update_date]">
                          <strong> date de fin:</strong> {{internship?.endDate.substr(0,10)}}
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center [hide_empty:update_date]">
                        <strong> rapport:</strong> 
                        <div *ngIf="uploading">En cours d'upload ...</div>
                        <input id="import-file" type="file" (change)="uploadRapport()"ng2FileSelect [uploader]="uploader" 
                        class="btn btn-outline-success btn-excel btn-icon-text" accept=".pdf">
                        <button type="button" (click)="downloadReport()" class="btn btn-inverse-success  btn-sm btn-fw">Telecharger</button>   
                  </li>
                    <hr>
                </ul> 

                <div *ngIf="waiting===true" >
                        <button type="button" (click)="refuseInternship()" class="btn btn-inverse-primary  btn-sm btn-fw">Refuser</button>
                        <button type="button" (click)="validateInternship()" class="btn btn-inverse-success  btn-sm btn-fw">Valider</button>        
                </div>
            </div>
        </div>
    </div>
</div>
</div>

